a {
    text-decoration: none;
}

.introduction {
    font-size: 16px;
    margin: auto;
    align-items: center;
}


.introduction-photo {
    border: 5px solid #4079ec;
    border-radius: 50% !important;
    max-height: 75%;
    max-width: 75%;
}

.icon {
    max-height: 13px;
    width: auto;
}

.social-icons {
    display: inline-flex;
}

.social-icon {
    height: 50px;
    width: auto;
    margin: 0.8rem;
}

.social-icon img {
    max-height: 100%;
    max-width: 100%;
}